/*Paul Irish reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
    .menu {
        margin-top: 5px;
        margin-right: 5px;
        font-size: 2.5rem;
    }
    .main-logo {

    }

footer {
    background-color: orchid;
}

.welcome-container {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: url(images/restaurant_hero_img.jpg); /*Photo by K8 on Unsplash*/
}

    .welcome {
        background-color: green;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.35rem;
        color: yellow;
    }

.hours {
    background-color: blueviolet;
}

.location {
    background-color: blue;
}

.reservations {
    background-color: red;
}

.img-container {
    background-color: orange;
}



