/*Paul Irish reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

nav {
    background-color: #E0D7AD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
    .menu {
        margin-top: 5px;
        margin-right: 20px;
        font-size: 2.5rem;
        color: #4F4C61;
    }
    .main-logo {
        width: 25px;
        margin-left: 20px;
    }

    .topnav {
        display: none;
        padding: 5px 0 5px 0;
    }

    .topnav li a {
        font-size: 2rem;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .active {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        background-color: crimson;
    }

footer {
    background-color: orchid;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}

body {
    background-color: black;
}

.welcome-container {
    display: flex;
    justify-content: center;
    height: 300px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.7)), url(assets/images/hero_alt.jpg); /*Photo by Clem Onojeghuo on Unsplash*/
    background-size: cover;
    background-repeat: no-repeat;
}

    .welcome {
        background-color: green;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.35rem;
        color: #E38A85;
        font-family: "Lobster", cursive;
    }

.hours-location-container {
    display: flex;
    flex-direction: column;
}

.hours {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(2, 25%);
    justify-content: space-evenly;
    grid-gap: 5px 5px;
    color: yellow;
    height: 100px;
    margin-top: 20px;
}

    .hours h2 {
        grid-area: 1 / 1 / span 1 / span 2;
        justify-self: center;
    }

    .hours-cell {
        font-size: 1.5rem;
    }

.location {
    background-color: blue;
    color: yellow;
    height: 80px;
    display: grid;
    align-items: center;
    margin-top: 10px;
}

    .location h2 {
        margin-left: 10px;
    }

    .location p {
        margin-left: 40px;
    }

.reservations {
    background-color: red;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-container {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
}

    .img-container img {
        width: 256px;
        margin: 10px auto;
        border: thick solid white;
    }

.social-media {
    background-color: teal;
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
}

    .social-media .fab {
        font-size: 3rem;
        color: white;
    }

/*Styles for menu.html*/

.push-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    color:  #E0D7AD;
}

.appetizers {
    background-color: turquoise;
}

.entrees {
    background-color: tomato;
}

.desserts {
    background-color: yellowgreen;
}

.menu-header {
    text-align: center;
    margin: 10px auto;
    font-family: "Tangerine", cursive;
    font-size: 3rem;
}

.menu-item {
    text-align: center;
}

    .menu-item h4 {
        margin: 8px auto;
        font-weight: 900;
    }

    .menu-item p {
        margin-bottom: 15px;
    }

/* Styles for reservations.html */

.reservations-heading {
    background-color: burlywood;
    margin: 20px auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Tangerine", cursive;
}

form {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;
}

    .form-item {
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 1.4rem;
        color: cornsilk;
    }

    .submit input {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 2px 2px 2px gray;
        background: cornsilk;
        color: crimson;
    }
